<div class="instructors clearfix">
  {% for instructor in site.data.staff.Instructors %}
  <div class="instructor-profile-two-col">
    <img src="{{ instructor.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" />
    <ul class="instructor-info">
      <li><strong>Instructor</strong> <a href="{{ instructor.url }}" target="_blank">{{ instructor.name }}</a></li>
      <li><a href="mailto:{{ instructor.email | encode_email }}" target="_blank">{{ instructor.email }}</a></li>
      <li><strong>Office hours:</strong> {{ instructor.office-hours }}</li>
    </ul>
  </div>
  {% endfor %}

  {% for instructor in site.data.staff.Head-GSI %}
  <div class="instructor-profile-two-col">
    {% if instructor.image %}
    <img src="{{ instructor.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" />
    {% endif %}
    <ul class="instructor-info">
      <li><strong>Head GSI</strong> <a href="{{ instructor.url }}" target="_blank">{{ instructor.name }}</a></li>
      <li><a href="mailto:{{ instructor.email | encode_email }}" target="_blank">{{ instructor.email }}</a></li>
      <li><strong>Office hours:</strong> {{ instructor.office-hours }}</li>
    </ul>
  </div>
  {% endfor %}

  {% for instructor in site.data.staff.GSI %}
  <div class="instructor-profile-two-col">
    {% if instructor.image %}
    <img src="{{ instructor.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" />
    {% endif %}
    <ul class="instructor-info">
      <li><strong>GSI</strong> <a href="{{ instructor.url }}" target="_blank">{{ instructor.name }}</a></li>
      <li><a href="mailto:{{ instructor.email | encode_email }}" target="_blank">{{ instructor.email }}</a></li>
      <li><strong>Office hours:</strong> {{ instructor.office-hours }}</li>
    </ul>
  </div>
  {% endfor %}
</div>
